body  {
  /* background-color: green; */
  color: #000000;
}
h1  {
  border-style: solid;
  border-radius: 10px;
  text-align: center;
  /*color: LightCoral;*/
  font-family: Tahoma, Geneva, sans-serif;
}
p {
  /*color: PaleGreen;*/
  font-family: Tahoma, Geneva, sans-serif;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
