body  {
  /* background-color: green; */
  color: #000000;
}
h1  {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 100px;
  letter-spacing: 4px;
}

h2  {
  font-family: Tahoma, Geneva, sans-serif;
}

p {
  font-family: Tahoma, Geneva, sans-serif;
}

div.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    border: 3px solid #73AD21;
}
